NODE_ENV=development

USERNAME=''
DATABASE_PASSWORD=''
DATABASE=''
DATABASE_LOCAL=mongodb://mongodb:27017/tours

PORT=5000

JWT_SECRET=sorry-seems-to-be-a-hardest-world
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=30

# https://mailtrap.io
EMAIL_USERNAME=<Mailtrap username here>
EMAIL_PASSWORD=<Mailtrap password here>
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525

GEOCODER_PROVIDER=mapquest
GEOCODER_API_KEY=<Mapquest API key here>

OPENAI_API_KEY='<OpenAI API key here>'