.burger-menu {
  position: relative;
}

.side-nav {
  position: absolute;
  width: 200px;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: none;
}

.burger-menu:hover .side-nav {
  display: block;
}

.burgerBtn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-btn svg {
  margin-right: 8px;
}

.burgerBtn-reverse {
  background: #fff;
  color: #000;
}

.burgerBtn-block {
  width: 100%;
  margin-bottom: 20px;
}

.burgerBtn:hover {
  transform: scale(0.98);
}
